{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions":
  {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": 2,
    "indent": [
      "error",
      "tab"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "no-cond-assign": [ "error", "always" ],
    "one-var": [ "error", "never" ],
    "no-array-constructor": "error",
    "no-var": "error",
    "no-eval": "error",
    "no-loop-func": "error",
    "array-callback-return": [ "error", { "checkForEach": true } ],
    "constructor-super": "error",
    "for-direction": "error",
    "no-class-assign": "error",
    "no-compare-neg-zero": "error",
    "no-constant-binary-expression": "error",
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-else-if": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-import-assign": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-loss-of-precision": "error",
    "no-misleading-character-class": "error",
    "no-new-native-nonconstructor": "error",
    "no-new-symbol": "error",
    "no-obj-calls": "error",
    "no-prototype-builtins": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-setter-return": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-this-before-super": "error",
    "no-undef": "error",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "error",
    "no-unreachable": "error",
    "no-unreachable-loop": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "no-unused-private-class-members": "error",
    "no-unused-vars": "error",
    "no-use-before-define": [ "error", {
      "functions": false,
      "classes": false,
      "variables": true,
      "allowNamedExports": false
    } ],
    "require-atomic-updates": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "accessor-pairs": "error",
    "arrow-body-style": [ "error", "as-needed" ],
    "block-scoped-var": "error",
    "class-methods-use-this": "error",
    "consistent-return": "error",
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": ["error"],
    "eqeqeq": "error",
    "func-style": [ "error", "declaration", { "allowArrowFunctions": true } ],
    "new-cap": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-confusing-arrow": "error",
    "no-else-return": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-label": "error",
    "no-extra-semi": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-multi-str": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-nonoctal-decimal-escape": "error",
    "no-param-reassign": "error",
    "no-redeclare": "error",
    "no-restricted-exports": "error",
    "no-return-assign": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-with": "error",
    "prefer-const": "error",
    "prefer-exponentiation-operator": "error",
    "prefer-object-has-own": "error",
    "array-bracket-newline": [ "error", "consistent" ],
    "array-element-newline": [ "error", "consistent" ],
    "arrow-spacing": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "comma-spacing": [ "error", { "before": false, "after": true } ],
    "comma-style": [ "error", "last" ],
    "dot-location": [ "error", "property" ],
    "func-call-spacing": [ "error", "never" ],
    "function-call-argument-newline": [ "error", "consistent" ],
    "key-spacing": [ "error", { "beforeColon": false } ],
    "keyword-spacing": [ "error", { "before": true } ],
    "lines-around-comment": [ "error", { "beforeBlockComment": true } ],
    "lines-between-class-members": [ "error", "always" ],
    "no-mixed-spaces-and-tabs": "error"
  },
  "env": {
    "es2021": true,
    "node": true,
    "jest": true,
    "browser": true
  }
}